<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>Create New User</h2>

    <br><br>

    <form method="post" action="/posts/newPost">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="enter username">

        <br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="enter password">

        <br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="abc123@gamil.com">

        <br><br>

        <label for="image">Image URL:</label>
        <input type="text" name="image" id="image" placeholder="enter image url">

        <br><br><br>

        <button>Submit</button>


    </form>
  
</body>
</html>